{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}  - Discord Bot
{% endblock %}

{% block head %}
<style>
    .mytextarea {
        resize: vertical;
    }

    #discordbot-content {
        padding-top : 10px;
    }

    #discordbot-content .tab-content {
        padding : 10px;
    }
</style>
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">Discord Bot <img src="{{ asset('img_logos/discord_original.svg') }}"></h1>

    </div>

    <div id="discordbot-content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#music-bots">Music Bots</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>send message</h3>

                <form method="post" action="{{ path('exiaplayagain_discordbot_sendmessage') }}">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                <textarea rows="5" class="form-control mytextarea" placeholder="Content" name="content" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
                                <input type="text" class="form-control" placeholder="Channel ID" name="channel_id" value="245481987974889472" required>
                            </div>

                            <h3>Salons du serveur Discord</h3>
                            <b># le_foyer</b> : 220860793451708417<br>
                            <b># asso_lan</b> : 245481987974889472<br>
                            <b># music_control</b> : 292286256702947338<br>
                        </div>
                    </div>

                    <br>

                    <button type="submit" class="btn btn-default">Valider</button>
                </form>

                <hr>
            </div> <!-- #home -->

            <div id="music-bots" class="tab-pane fade">

            </div> <!-- #music-bots -->
        </div> <!-- .tab-content -->
    </div> <!-- #discordbot-content -->

    {% for message in app.session.flashbag.get('discordbot_error') %}
        <div class="flashbag">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-remove-sign"></span> <strong>ERROR</strong>
                {#<pre>#}
                    {{ dump(message) }}
                {#</pre>#}
            </div>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('discordbot_notice') %}
        <div class="flashbag">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-ok-sign"></span> <strong>SUCCESS</strong>
                {#<pre>#}
                    {{ dump(message) }}
                {#</pre>#}
            </div>
        </div>
    {% endfor %}

{% endblock %}

