{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}  - Add Vote
{% endblock %}

{% block head %}
    <style>
        #votes div
        {
            padding: 10px;
        }

        #votes label
        {
            padding-right: 5px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">ADMIN - Add Vote <i class="fa fa-th-list" aria-hidden="true"></i></h1>

    </div>

    <div class="row">
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            {% if neverPlayedGames is not empty %}
                <h3>Never Played Games</h3>
                <ul>
                    {% for neverPlayedGame in neverPlayedGames %}
                        <li>
                            {{ neverPlayedGame.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if playedGames is not empty %}
                <h3>Played Games</h3>
                <ul>
                    {% for playedGame in playedGames %}
                        <li>
                            {{ playedGame.name }} ({{ playedGame.lastPlayed|date('d-M-Y') }})
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
