{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}  - Users List
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">ADMIN - Users List <i class="fa fa-users" aria-hidden="true"></i></h1>

        <a class="btn btn-default" href="{{ path('exiaplayagain_adduser') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> add user</a>

    </div>

    {% if users is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Is Admin</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    {% if user.isAdmin %}
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    {% else %}
                        <td><span class="glyphicon glyphicon-remove"></span></td>
                    {%  endif %}
                    <td>
                        <a class="btn btn-default" data-toggle="modal" data-target="#confirmChangeIsAdmin" data-user="{{ user.username }}" data-isadmin="{{ user.isAdmin }}">change is admin</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#confirmUserDelete" data-user="{{ user.username }}"><i class="fa fa-user-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br>


    <div class="modal fade" id="confirmUserDelete" tabindex="-1" role="dialog" aria-labelledby="confirmUserDeleteLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmUserDeleteLabel">Warning !</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove the user ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <a id="confirmDelete" type="button" class="btn btn-danger"><i class="fa fa-user-times" aria-hidden="true"></i> remove user</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmChangeIsAdmin" tabindex="-1" role="dialog" aria-labelledby="confirmChangeIsAdminLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmChangeIsAdminLabel">Warning !</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to change permissions for the user ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <a id="confirmChangeIsAdminButton" type="button" class="btn btn-primary"><i class="fa fa-user-times" aria-hidden="true"></i> set user permissions</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $('#confirmUserDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('user') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-body').prop('innerHTML', 'Are you sure you want to remove the user '+recipient+' ?')
            modal.find('#confirmDelete').text('remove user '+recipient)

            var route = "{{ path('exiaplayagain_removeuser', { 'username': "PLACEHOLDER" }) }}";

            modal.find('#confirmDelete').prop('href', route.replace("PLACEHOLDER", recipient))
        })

        $('#confirmChangeIsAdmin').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipientUser = button.data('user') // Extract info from data-* attributes
            var recipientIsAdmin = button.data('isadmin')
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            if (recipientIsAdmin)
            {
                modal.find('.modal-body').prop('innerHTML', 'Are you sure you want to set the user '+recipientUser+' as an non administrator ?')
                modal.find('#confirmChangeIsAdminButton').text('remove '+recipientUser+'\'s admin rights')
            }
            else
            {
                modal.find('.modal-body').prop('innerHTML', 'Are you sure you want to set the user '+recipientUser+' as an administrator ?')
                modal.find('#confirmChangeIsAdminButton').text('grant admin rights for user '+recipientUser)
            }
            var route = "{{ path('exiaplayagain_changeisadmin', { 'username': "PLACEHOLDER" }) }}";

            modal.find('#confirmChangeIsAdminButton').prop('href', route.replace("PLACEHOLDER", recipientUser))
        })
    </script>

{% endblock %}
