{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}  - Games List
{% endblock %}

{% block head %}
    <style type="text/css">
        #votescontent {
            padding-top : 10px;
        }

        #votescontent .tab-content {
            padding : 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">ADMIN - Votes List <i class="fa fa-th-list" aria-hidden="true"></i></h1>

        <a class="btn btn-default" href="{{ path('exiaplayagain_addvote') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> add vote</a>

    </div>


    <div id="votescontent">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming</a></li>
            <li><a data-toggle="tab" href="#passed">Passed</a></li>
        </ul>

        <div class="tab-content">
            <div id="upcoming" class="tab-pane fade in active">
                {% for vote_upcoming in votes_upcoming %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    {{ vote_upcoming.limitedDate|date('d-M-Y \\a\\t H:i') }}
                                </div>
                                <div class="col-md-2">
                                    {% if vote_upcoming.totalUsersVotes > 1 %}
                                        {{ vote_upcoming.totalUsersVotes }} votes
                                    {% else %}
                                        {{ vote_upcoming.totalUsersVotes }} vote
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_upcoming.game1.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_upcoming.percentVotesGame1 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_upcoming.percentVotesGame1 }}%">
                                                    {% if vote_upcoming.numVotesGame1 > 1 %}
                                                        {{ vote_upcoming.numVotesGame1 }} votes / {{ vote_upcoming.percentVotesGame1 }} %
                                                    {% else %}
                                                        {{ vote_upcoming.numVotesGame1 }} vote / {{ vote_upcoming.percentVotesGame1 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_upcoming.game2.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_upcoming.percentVotesGame2 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_upcoming.percentVotesGame2 }}%">
                                                    {% if vote_upcoming.numVotesGame2 > 1 %}
                                                        {{ vote_upcoming.numVotesGame2 }} votes / {{ vote_upcoming.percentVotesGame2 }} %
                                                    {% else %}
                                                        {{ vote_upcoming.numVotesGame2 }} vote / {{ vote_upcoming.percentVotesGame2 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_upcoming.game3.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_upcoming.percentVotesGame3 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_upcoming.percentVotesGame3 }}%">
                                                    {% if vote_upcoming.numVotesGame3 > 1 %}
                                                        {{ vote_upcoming.numVotesGame3 }} votes / {{ vote_upcoming.percentVotesGame3 }} %
                                                    {% else %}
                                                        {{ vote_upcoming.numVotesGame3 }} vote / {{ vote_upcoming.percentVotesGame3 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_upcoming.game4.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_upcoming.percentVotesGame4 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_upcoming.percentVotesGame4 }}%">
                                                    {% if vote_upcoming.numVotesGame4 > 1 %}
                                                        {{ vote_upcoming.numVotesGame4 }} votes / {{ vote_upcoming.percentVotesGame4 }} %
                                                    {% else %}
                                                        {{ vote_upcoming.numVotesGame4 }} vote / {{ vote_upcoming.percentVotesGame4 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <a href="{{ path('exiaplayagain_removevote', { 'voteid' : vote_upcoming.id }) }}" class="btn btn-danger"><i class="fa fa-times-rectangle" aria-hidden="true"></i> remove vote</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="passed" class="tab-pane fade">
                {% for vote_passed in votes_passed %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    {{ vote_passed.limitedDate|date('d-M-Y \\a\\t H:i') }}
                                </div>
                                <div class="col-md-2">
                                    {% if vote_passed.totalUsersVotes > 1 %}
                                        {{ vote_passed.totalUsersVotes }} votes
                                    {% else %}
                                        {{ vote_passed.totalUsersVotes }} vote
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_passed.game1.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_passed.percentVotesGame1 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_passed.percentVotesGame1 }}%">
                                                    {% if vote_passed.numVotesGame1 > 1 %}
                                                        {{ vote_passed.numVotesGame1 }} votes / {{ vote_passed.percentVotesGame1 }} %
                                                    {% else %}
                                                        {{ vote_passed.numVotesGame1 }} vote / {{ vote_passed.percentVotesGame1 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_passed.game2.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_passed.percentVotesGame2 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_passed.percentVotesGame2 }}%">
                                                    {% if vote_passed.numVotesGame2 > 1 %}
                                                        {{ vote_passed.numVotesGame2 }} votes / {{ vote_passed.percentVotesGame2 }} %
                                                    {% else %}
                                                        {{ vote_passed.numVotesGame2 }} vote / {{ vote_passed.percentVotesGame2 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_passed.game3.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_passed.percentVotesGame3 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_passed.percentVotesGame3 }}%">
                                                    {% if vote_passed.numVotesGame3 > 1 %}
                                                        {{ vote_passed.numVotesGame3 }} votes / {{ vote_passed.percentVotesGame3 }} %
                                                    {% else %}
                                                        {{ vote_passed.numVotesGame3 }} vote / {{ vote_passed.percentVotesGame3 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ vote_passed.game4.name }}
                                        </div>
                                        <div class="col-md-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_passed.percentVotesGame4 }}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ vote_passed.percentVotesGame4 }}%">
                                                    {% if vote_passed.numVotesGame4 > 1 %}
                                                        {{ vote_passed.numVotesGame4 }} votes / {{ vote_passed.percentVotesGame4 }} %
                                                    {% else %}
                                                        {{ vote_passed.numVotesGame4 }} vote / {{ vote_passed.percentVotesGame4 }} %
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <a href="{{ path('exiaplayagain_removevote', { 'voteid' : vote_passed.id }) }}" class="btn btn-danger"><i class="fa fa-times-rectangle" aria-hidden="true"></i> remove vote</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>

    </script>

{% endblock %}
